<div class="container text-center WH wh-23 text-uppercase text-muted">
	<div class="WH wh-13"></div>
	<img class="img-responsive" style="display: inline"
		src="resources/download/images/avatars.png">
	<h1>Agile is Life Style</h1>
</div>